{% block title_width %}
    <div class="grid">
        <div class="grid-row m-bottom-20">
            {% block title %}
                <div class="grid-col-9 floating form-group">
                    <label for="title{{ loop.index }}"
                           class="pointer"
                           title="Title">
                        <%= translate('l91_sulu_form.title') %>
                    </label>

                    <input id="title{{ loop.index }}"
                           data-property="title"
                           type="text"
                           class="form-element preview-update trigger-save-button"
                           data-mapper-property="title"/>
                    <div class="block-content" data-sort-mode-id="{{ blockId }}title{{ loop.index }}"></div>

                    <div class="input-description"></div>
                </div>
            {% endblock %}
            {% block width %}
                <div class="grid-col-3 floating form-group">
                    <label for="width{{ loop.index }}"
                           class="pointer"
                           title="width">
                        <%= translate('l91_sulu_form.width') %>
                    </label>

                    <div id="width{{ loop.index }}"
                         class="preview-update trigger-save-button"
                         data-aura-component="select@husky"
                         data-aura-data='{{ widths|json_encode() }}'
                         data-aura-multiple-select="false"
                         data-aura-instance-name="width"
                         data-type="husky-select"
                         data-form="true"
                         data-mapper-return-value="id"
                         data-mapper-property="width">
                    </div>

                    <div class="block-content" data-sort-mode-id="{{ blockId }}width{{ loop.index }}"></div>

                    <div class="input-description"></div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block key %}
    <input id="key{{ loop.index }}"
           data-property="key"
           type="hidden"
           class="form-element"
           data-mapper-property="key"/>
{% endblock %}

{% block placeholder_default %}
    <div class="grid">
        <div class="grid-row m-bottom-20">
            {% block placeholder %}
                <div class="grid-col-6 floating form-group">
                    <label for="placeholder{{ loop.index }}" class="pointer" title="Placeholder">
                        <%= translate('l91_sulu_form.placeholder') %>
                    </label>

                    <input id="placeholder{{ loop.index }}"
                           data-property='placeholder'
                           type="text"
                           class="form-element preview-update trigger-save-button"
                           data-mapper-property="placeholder"/>

                    <div class="block-content" data-sort-mode-id="{{ blockId }}placeholder{{ loop.index }}"></div>

                    <div class="input-description"></div>
                </div>
            {% endblock %}

            {% block default %}
                <div class="grid-col-6 floating form-group">
                    <label for="default-value{{ loop.index }}" class="pointer" title="Default Value">
                        <%= translate('l91_sulu_form.default') %>
                    </label>

                    <input id="default-value{{ loop.index }}"
                           data-property="defaultValue"
                           type="text"
                           class="form-element preview-update trigger-save-button"
                           data-mapper-property="defaultValue"/>

                    <div class="block-content" data-sort-mode-id="{{ blockId }}defaultValue{{ loop.index }}"></div>

                    <div class="input-description"></div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block extended %}
{% endblock %}
