<script id="{{ alias }}-{{ blockId }}-tpl" type="text/template">
    <div class="text-block {{ alias }}-element {{ blockId }}-element"
         data-mapper-property-tpl="{{ alias }}">
        <div class="move"></div>
        <input type="hidden" data-mapper-property="type" value="{{ alias }}"/>

        <div class="collapsed-container empty">
            <div class="type">{{ alias }}</div>
            <div class="title"></div>
            <div class="image"></div>
            <div class="text hidden"></div>
        </div>

        <div class="container grid pos-rel">
            <div class="text-block-controls pull-right">
                <div class="fa-eye-slash options-collapse"></div>
                <div data-mapper-remove="{{ blockId }}"
                     class="fa-times options-remove mapper-remove-{{ alias }}"></div>
                <div class="clear"></div>
            </div>
            <div class="grid-row">
                <div class="grid-col-3 m-top-20 floating form-group hidden">
                    <div class="type-select"></div>
                </div>

                {% block required %}
                    <div class="grid-col-1 m-top-20 floating form-group">
                    </div>
                    <div class="grid-col-4 m-top-20 floating form-group">
                        <label for="required<~=index~>" style="margin-top: 5px; margin-bottom: 5px;">
                            <div class="custom-checkbox">
                                <input type="checkbox"
                                       id="required<~=index~>"
                                       data-property='required'
                                       data-mapper-property="required"
                                       class="preview-update trigger-save-button form-element"/>
                                <span class="icon"></span>
                            </div>
                            <%= translate('sulu_form.required') %>
                        </label>
                    </div>
                {% endblock %}
                {% block width %}
                    <div class="grid-col-3 m-top-20 floating form-group pull-right">
                        <div id="width<~=index~>"
                             class="preview-update trigger-save-button"
                             data-aura-component="select@husky"
                             data-aura-data='{{ widths|json_encode() }}'
                             data-aura-multiple-select="false"
                             data-aura-instance-name="width"
                             data-aura-default-value='{"id":"full","name":"sulu_form.width.full"}'
                             data-type="husky-select"
                             data-form="true"
                             data-mapper-return-value="id"
                             data-mapper-property="width">
                        </div>

                        <div class="block-content" data-sort-mode-id="{{ blockId }}width<~=index~>"></div>

                        <div class="input-description"></div>
                    </div>
                    <div class="grid-col-1 m-top-25 floating form-group pull-right">
                        <label for="width<~=index~>"
                               class="pointer"
                               title="width">
                            <%= translate('sulu_form.width') %>
                        </label>
                    </div>
                {% endblock %}
            </div>

            <div class="block block-{{ alias }} grid-row small">
                {% block title_short_title %}
                    <div class="grid">
                        <div class="grid-row m-bottom-20">
                            {% block title %}
                                <div class="grid-col-12 floating form-group">
                                    <label for="title<~=index~>"
                                           class="pointer required"
                                           title="Title">
                                        <%= translate('sulu_form.title') %>
                                    </label>

                                    <textarea id="title<~=index~>"
                                              class="form-element vertical hidden husky-validate preview-update"
                                              data-aura-instance-name="title<~=index~>"
                                              data-type="textEditor"
                                              data-type-instance-name="title<~=index~>"
                                              data-mapper-property="title"
                                              data-form="true"
                                              data-aura-component="ckeditor@husky"
                                              data-aura-table="false"
                                              data-aura-height="100"
                                              data-aura-webspace=""
                                              data-aura-locale="<%= options.language %>"
                                              data-validation-required="true"
                                              data-aura-enter-mode="br">{{ autoTitle ? type.configuration.title|trans({}, 'backend', locale) : '' }}</textarea>

                                    <div class="block-content" data-sort-mode-id="{{ blockId }}title<~=index~>"></div>

                                    <div class="input-description"></div>
                                </div>
                            {% endblock %}

                            {% block short_title %}
                                <div class="grid-col-12 floating form-group">
                                    <label for="short-title<~=index~>" class="pointer" title="Short Title">
                                        <%= translate('sulu_form.short_title') %>
                                    </label>

                                    <input id="short-title<~=index~>"
                                           data-property="shortTitle"
                                           type="text"
                                           class="form-element preview-update trigger-save-button"
                                           maxlength="255"
                                           data-mapper-property="shortTitle"/>

                                    <div class="block-content" data-sort-mode-id="{{ blockId }}shortTitle<~=index~>"></div>

                                    <div class="input-description"><%= translate('sulu_form.short_title_description') %></div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}

                {% block key %}
                    <input id="key<~=index~>"
                           data-property="key"
                           type="hidden"
                           class="form-element"
                           data-mapper-property="key"/>
                {% endblock %}

                {% block placeholder_default %}
                    <div class="grid">
                        <div class="grid-row m-bottom-20">
                            {% block placeholder %}
                                <div class="grid-col-6 floating form-group">
                                    <label for="placeholder<~=index~>" class="pointer" title="Placeholder">
                                        <%= translate('sulu_form.example') %>
                                    </label>

                                    <input id="placeholder<~=index~>"
                                           data-property='placeholder'
                                           type="text"
                                           class="form-element preview-update trigger-save-button"
                                           data-mapper-property="placeholder"/>

                                    <div class="block-content" data-sort-mode-id="{{ blockId }}placeholder<~=index~>"></div>

                                    <div class="input-description"></div>
                                </div>
                            {% endblock %}

                            {% block default %}
                                <div class="grid-col-6 floating form-group">
                                    <label for="default-value<~=index~>" class="pointer" title="Default Value">
                                        <%= translate('sulu_form.default') %>
                                    </label>

                                    <input id="default-value<~=index~>"
                                           data-property="defaultValue"
                                           type="text"
                                           class="form-element preview-update trigger-save-button"
                                           data-mapper-property="defaultValue"/>

                                    <div class="block-content" data-sort-mode-id="{{ blockId }}defaultValue<~=index~>"></div>

                                    <div class="input-description"></div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}

                {% block extended %}
                {% endblock %}
                <div class="clear"></div>
            </div>
        </div>
    </div>
</script>
