<form id="form-form" class="content-form">
    <div class="highlight-section">
        <div class="fixed-width">
            <div class="content">
                <div class="grid-col-12 floating section section-highlight">
                    <div class="grid">
                        <div class="grid-row">
                            <div class="grid-col-12">
                                <div class="form-group">
                                    <label for="title" class="required">
                                        <%= translate('sulu_form.title') %>
                                    </label>

                                    <input id="title"
                                           type="text"
                                           data-form="true"
                                           class="form-element input-bold husky-validate"
                                           data-mapper-property="title"
                                           data-validation-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-width">
        <div class="grid">
            <div class="grid-row m-bottom-40">
                <div class="grid-col-12">
                    <div class="grid-col-12 floating m-top-20">
                        <h2 class="divider m-bottom-20">
                            <%= translate('sulu_form.form_fields') %>
                        </h2>

                        {% set blockId = 'fields' %}

                        <div class="grid">
                            <div id="text-block-header-{{ blockId }}"> {#class="text-blocks-header"#}
                                <div id="collapse-text-blocks-{{ blockId }}" tabindex="0" class="text-blocks-toggle-btn">
                                    <%= translate('sulu.content.collapse.blocks') %>
                                </div>
                                <div id="expand-text-blocks-{{ blockId }}" tabindex="0" class="text-blocks-toggle-btn">
                                    <%= translate('sulu.content.expand.blocks') %>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <style>
                                /* FIXME DropDown to big */
                                #form-form .grid-row.dropdown-list.dropdown-shadow.husky-select-dropdown-container.top {
                                    max-height: 160px !important;
                                    max-height: 70vh !impmortant;
                                }

                                #form-form .grid-row.dropdown-list.dropdown-shadow.husky-select-dropdown-container {
                                    height: auto !important;
                                    max-height: 200px !important;
                                }
                            </style>

                            <div class="grid-row small"
                                 id="{{ blockId }}"
                                 data-form="true"
                                 data-type="block"
                                 data-type-config='
                                    [
                                        {% for alias, type in types %}
                                            {
                                                "data": "{{ alias }}",
                                                "title": "<%= translate('{{ type.configuration.title }}') %>",
                                                "tpl": "{{ alias }}-{{ blockId }}-tpl"
                                            }
                                            {% if not loop.last %},{% endif %}
                                        {% endfor %}
                                    ]'
                                 data-type-min="0"
                                 data-type-max="999"
                                 data-type-default="{{ types|keys|first }}"
                                 data-mapper-property="{{ blockId }}"
                                 data-mapper-full-class="full"
                                 data-mapper-empty-class="empty">

                            {% for alias, type in types %}
                                {% include type.configuration.template with {
                                'viewData': type.configuration.attributes,
                                'alias': alias
                                }%}
                            {% endfor %}
                        </div>

                        <div class="text-block-footer" id="{{ blockId }}-add" style="width: 200px">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="grid">
            <h2 class="divider m-bottom-20">
                <%= translate('sulu_form.website_configuration') %>
            </h2>
            <div class="grid-row m-bottom-40">
                <div class="grid-col-12">
                    <div class="form-group">
                        <label for="successText">
                            <%= translate('sulu_form.success_text') %>
                        </label>

                        <textarea id="successText"
                                  class="form-element hidden"
                                  data-type="textEditor"
                                  data-type-instance-name="successText"
                                  data-aura-instance-name="successText"
                                  data-form="true"
                                  data-aura-component="ckeditor@husky"
                                  data-aura-table="false"
                                  data-aura-height="150"
                                  data-aura-max-height="300"
                                  data-aura-paste-from-word="true"
                                  data-validation-required="false"
                                  data-mapper-property="successText"></textarea>
                    </div>
                </div>
            </div>
            <h2 class="divider m-bottom-20">
                <%= translate('sulu_form.email_configuration') %>
            </h2>
            <div class="grid-row m-bottom-20">
                <div class="grid-col-12">
                    <div class="form-group">
                        <label for="subject">
                            <%= translate('sulu_form.subject') %>
                        </label>

                        <div id="subject"
                             class="form-element husky-validate"
                             data-type="husky-input"
                             data-form="true"
                             data-aura-component="input@husky"
                             data-aura-instance-name="subject"
                             data-validation-required="false"
                             data-mapper-property="subject">
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-row m-bottom-20">
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="fromEmail">
                            <%= translate('sulu_form.from_email') %>
                        </label>

                        <div id="fromEmail"
                             class="form-element husky-validate"
                             data-type="husky-input"
                             data-form="true"
                             data-aura-component="input@husky"
                             data-aura-instance-name="fromEmail"
                             data-aura-skin="email"
                             data-validation-required="false"
                             data-mapper-property="fromEmail">
                        </div>
                    </div>
                </div>
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="fromName">
                            <%= translate('sulu_form.from_name') %>
                        </label>

                        <div id="fromName"
                             class="form-element husky-validate"
                             data-type="husky-input"
                             data-form="true"
                             data-aura-component="input@husky"
                             data-aura-instance-name="fromName"
                             data-validation-required="false"
                             data-mapper-property="fromName">
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-row m-bottom-20">
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="toEmail">
                            <%= translate('sulu_form.to_email') %>
                        </label>

                        <div id="toEmail"
                             class="form-element husky-validate"
                             data-type="husky-input"
                             data-form="true"
                             data-aura-component="input@husky"
                             data-aura-instance-name="toEmail"
                             data-aura-skin="email"
                             data-validation-required="false"
                             data-mapper-property="toEmail">
                        </div>
                    </div>
                </div>
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="toName">
                            <%= translate('sulu_form.to_name') %>
                        </label>

                        <div id="toName"
                             class="form-element husky-validate"
                             data-type="husky-input"
                             data-form="true"
                             data-aura-component="input@husky"
                             data-aura-instance-name="toName"
                             data-validation-required="false"
                             data-mapper-property="toName">
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-row m-bottom-20">
                <div class="grid-col-12">
                    <div class="form-group">
                        <label for="mailText">
                            <%= translate('sulu_form.success_text') %>
                        </label>

                        <textarea id="mailText"
                                  class="form-element vertical hidden husky-validate"
                                  data-aura-instance-name="mailText"
                                  data-form="true"
                                  data-aura-component="ckeditor@husky"
                                  data-aura-table="false"
                                  data-aura-height="150"
                                  data-aura-max-height="300"
                                  data-aura-paste-from-word="true"
                                  data-validation-required="false"
                                  data-mapper-property="mailText"></textarea>
                    </div>
                </div>
            </div>

            <!-- Mail Settings Togglers -->
            <div class="grid-row m-bottom-20">
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="replyTo">
                            <%= translate('sulu_form.user_as_reply_to') %>
                        </label>

                        <div class="grid-row small">
                            <div id="replyTo"
                                 class="preview-update trigger-save-button"
                                 data-form="true"
                                 data-aura-component="toggler@husky"
                                 data-aura-instance-name="replyTo"
                                 data-type="toggler"
                                 data-type-instance-name="replyTo"
                                 data-mapper-property="replyTo"></div>
                        </div>
                    </div>
                </div>
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="sendAttachments">
                            <%= translate('sulu_form.send_attachments') %>
                        </label>

                        <div class="grid-row small">
                            <div id="sendAttachments"
                                 class="preview-update trigger-save-button"
                                 data-form="true"
                                 data-aura-component="toggler@husky"
                                 data-aura-instance-name="sendAttachments"
                                 data-type="toggler"
                                 data-type-instance-name="sendAttachments"
                                 data-mapper-property="sendAttachments"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-row m-bottom-40">
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="deactivateNotifyMails">
                            <%= translate('sulu_form.deactivate_notify') %>
                        </label>

                        <div class="grid-row small">
                            <div id="deactivateNotifyMails"
                                 class="preview-update trigger-save-button"
                                 data-form="true"
                                 data-aura-component="toggler@husky"
                                 data-aura-instance-name="deactivateNotifyMails"
                                 data-type="toggler"
                                 data-type-instance-name="deactivateNotifyMails"
                                 data-mapper-property="deactivateNotifyMails"></div>
                        </div>
                    </div>
                </div>
                <div class="grid-col-6">
                    <div class="form-group">
                        <label for="deactivateCustomerMails">
                            <%= translate('sulu_form.deactivate_customer') %>
                        </label>

                        <div class="grid-row small">
                            <div id="deactivateCustomerMails"
                                 class="preview-update trigger-save-button"
                                 data-form="true"
                                 data-aura-component="toggler@husky"
                                 data-aura-instance-name="deactivateCustomerMails"
                                 data-type="toggler"
                                 data-type-instance-name="deactivateCustomerMails"
                                 data-mapper-property="deactivateCustomerMails"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Added -->
        <div class="grid-col-12 floating m-top-20">
            <h2 class="light">
                <%= translate('sulu_form.receivers') %>
            </h2>

            <div class="grid">
                <div id="text-block-header-receivers" class="text-blocks-header">
                    <div id="collapse-text-blocks-receivers" tabindex="0" class="text-blocks-toggle-btn"><%=
                        translate('sulu.content.collapse.blocks') %>
                    </div>
                    <div id="expand-text-blocks-receivers" tabindex="0" class="text-blocks-toggle-btn"><%=
                        translate('sulu.content.expand.blocks') %>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="grid-row small"
                     id="receivers"
                     data-form="true"
                     data-type="block"
                     data-type-config='[{"data": "to", "title": "<%= translate('sulu_form.receiver.to') %>", "tpl": "to-receivers-tpl"},{"data": "cc", "title": "<%= translate('sulu_form.receiver.cc') %>", "tpl": "cc-receivers-tpl"},{"data": "bcc", "title": "<%= translate('sulu_form.receiver.bcc') %>", "tpl": "bcc-receivers-tpl"}]'
                     data-type-min="0"
                     data-type-max="999"
                     data-type-default="to"
                     data-mapper-property="receivers"
                     data-mapper-full-class="full"
                     data-mapper-empty-class="empty">

                    {% include 'SuluFormBundle:forms/blocks:email-receiver.html.twig' with {
                        name: receiverTypes['to']
                    } %}
                    {% include 'SuluFormBundle:forms/blocks:email-receiver.html.twig' with {
                        name: receiverTypes['cc']
                    } %}
                    {% include 'SuluFormBundle:forms/blocks:email-receiver.html.twig' with {
                        name: receiverTypes['bcc']
                    } %}
                </div>

                <div class="text-block-footer" id="receivers-add" style="width: 200px">

                </div>
            </div>
        </div>
        <!-- Closed -->

    </div>
</form>
