<div id="{{ id|raw }}"
     class="preview-update trigger-save-button"
     data-form="true"
     data-property='{{ property|json_encode }}'
     data-aura-url="/admin/api/forms?flat=true&fields=id,title&sortBy=title&limit=999&locale={{ languageCode }}"
     data-aura-result-key="forms"
     data-aura-component="select@husky"
     data-aura-instance-name="{{ id|raw }}"
     data-aura-editable="false"
     data-aura-direction="bottom"
     data-aura-value-name="title"
     data-aura-is-native="true"
     data-aura-deselect-field="select.no-choice"
     data-type="select-type-custom"
     data-mapper-return-value="id"
     data-aura-pre-selected-elements="[]"
     data-mapper-property="{{ property.name }}"
     data-aura-height="200">
</div>
