<div id="{{ id|raw }}"
     data-property='{{ property|json_encode }}'
     data-mapper-property="{{ property.name }}"
     data-form="true"
     data-type="formSelect"
     data-type-instance-name="{{ id|raw }}"
     data-aura-component="form-select@suluform"
     data-aura-instance-name="{{ id|raw }}">
</div>
